.menu{
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: black;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 280px;
}
.menu::-webkit-scrollbar{

    display: none;
}
.menu{
    -ms-overflow-style: none;
    scrollbar-width: none;
}